@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:100|Roboto:300|Roboto:500|Roboto+Condensed:300|Roboto+Condensed|Syncopate:700&display=swap');

/* 
font-family: 'Syncopate', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;

black #101010;
light grey #eee;
green #13687c; 
light green #c3d1d4;
red #e93536;
*/

html, body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #1a1a1a;
	height: 100%;
}

.bg-grey {
	background-color: #eee;
	padding: 7rem 12rem 7rem 20rem;
	width: 100%;
}


/* navigation */

.navi .navi-top {
	position: fixed;
	z-index: 1100;
	width: 100%;
	padding: 2.5rem 7.5rem;
	display: flex;
	justify-content: space-between;
	justify-items: center;
	font-size: 0.9rem;
	letter-spacing: 0.25rem;
	line-height: 0.2rem;
	text-align: left;
	font-family: 'Roboto Condensed', sans-serif;
}
	.navi .navi-top > li {
		padding: 1rem;
		width: 100%;
		/* border: 1px solid lightgreen; */
	}
	.navi .navi-top > li:first-child {
		font-size: 2rem;
		letter-spacing: 0.1rem;
		font-family: Georgia, 'Times New Roman', Times, serif;
	}

	.navi-top .navi-sub {
		position: relative;
		z-index: -1;
		width: 100%;
		top: -23rem; /*-5rem*/
		left: -1rem;
		padding: 6.5rem 1rem 3rem 1rem;
		font-size: 1rem;
		letter-spacing: -0.05rem;
		line-height: 1.6rem;
		font-family: 'Syncopate', sans-serif;
		color: black;
		background-color: white;
		}

		.navi-sub .line {
			border-bottom: 1px solid black;
			width: 0;
			position: absolute;
			height: 0;
			background-color: rgba(0, 0, 0, 0.2);
		}

.navi .navi-square {
	background-color: black;
	width: 120px;
	height: 120px;
	line-height: 125px;
	text-align: center;
	font-size: 2rem;
	right: 0;
	position: fixed;
	z-index: 1200;
	cursor: pointer;
}
.navi-sqr {
	position: fixed;
	background-color: #101010;
	color: white;
	height: 100%;
	width: 100%;
	top: 0;
	right: -100%;
	z-index: 2200;
}
	.navi-sqr .sqr-exit {
		padding: 3rem;
		text-align: right;
		/* border: 1px solid burlywood; */
	}
		.sqr-exit > i {
			font-size: 5rem;
		}



/* sidebar */
.side-bar {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 8rem;
	height: 27%;
	z-index: 1100;
	color: white;
	background-color: black;
}
	.side-clay {
		opacity: 0;
		position: fixed;
		left: 0;
		bottom: 0;
		width: 8rem;
		height: 27%;
		z-index: 1099;
		background-color: #13687c;
	}
	.side-black {
		position: fixed;
		left: -100%;
		/* display: none; */
		width: 8rem;
		z-index: 1098;
		color: white;
		height: 100%;
		background-color: black;
	}
	.side-tit {
		transform: rotate(-90deg);
		position: fixed;
		left: 0;
		bottom: 250px;
		letter-spacing: 0.35rem;
		font-size: 0.875rem;
		color: white;
		z-index: 2000;
		font-family: 'Roboto Condensed', sans-serif;
		/* border: 1px solid white; */
	}
	 .side-icon {
		text-align: center;
		position: absolute;
		bottom: 50px;
		width: 100%;
		/* border: 1px solid white; */
	} 


/* banner */
.banner {
	position: relative;
}
	.banner .ban-bg-img {
		background-image: url("../img/home_background.jpg");
		background-attachment: fixed;
		background-size: cover;
		height: 1000px;
		filter: grayscale(8%) brightness(50%);
	}
	.banner::before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 20%;
		height: 100%;
		background-color: #101010;
		z-index: 999;
	}
.banner .ban-wrap {
	position: absolute;
	width: 100%;
	top: 20%;
	z-index: 1000;
	display: flex;
	padding: 0 5rem;
}
	.ban-wrap .ban {
		font-size: 1rem;
		margin-left: 3rem;
		flex: 60% 0 0;
	}
		.ban .ban-heading {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0.6rem 0;
			color: white;
			border-top: 1px solid white;
		}
			.ban .ban-heading .ban-label {
				letter-spacing: 0.1em;
			}
			.ban .ban-heading span {
				font-size: 0.8em;
				letter-spacing: 0.2em;
			}
		.ban .ban-tit {
			flex: 50% 0 0;
			font-family: 'Syncopate', sans-serif;
			font-size: 6.5em;
			letter-spacing: -0.06em;
			line-height: 0.8em;
			color: white;
			border-top: 1px solid white;
			padding: 0.4em 0;
		}
		.ban-text > div {
			flex: 50% 0 1;
		}
			.ban-text .text-dummy {
				border-top: 1px solid white;
				margin-right: 1rem;
			}
			.ban-txt {
				font-weight: 500;
			}

/* statistics */
.statis {
	display: flex;
	/* border: 1px solid red; */
}
	.statis > ul {
		flex: 50% 0 1;
	}
	.statis > .satellite {
		margin-right: 4rem;
	}
	.statis .stat-tit {
		border-top: 1px solid #1a1a1a;
		padding: 0.75rem 0;
		font-size: 1.125rem;
	}
	.statis .stat-number {
		font-size: 10rem;
		text-align: center;
		font-weight: 300;
		font-family: 'Roboto', sans-serif;
		padding: 2rem 0;
	}
	.statis .stat-footer {
		border-top: 1px solid #1a1a1a;
		padding: 0.75rem 0;
		font-size: 0.875rem;
		color: #555;
	}

/* data */
.datas {
	background-color: #eee;
	padding: 7rem 0;
	width: 100%;
}
	.datas .data {
		display: flex;
		margin-left: 20rem;
		border: 1px solid blue;
	}

	.data .data-slides {
		flex: 80% 1 0;
		margin-right: 13rem;
		position: relative;
		left: -500px;
		border: 1px solid coral;
	}
	.data-slides .data-label {
		font-size: 1rem;
		letter-spacing: 0.1rem;
		padding: 0.75rem 0;
		border-top: 1px solid #1a1a1a;
		border-bottom: 1px solid #1a1a1a;
	}
	.data-label > i {
		font-size: 1.25rem;
	}

	.data-slide .data-info > div {
		flex: 50% 0 1;
	}
		.data-info .data-index {
			font-family: 'Roboto', sans-serif;
			font-size: 2.5rem;
			padding: 0.5rem 2rem;
		}
		.data-info .data-tit {
			font-family: 'Syncopate', sans-serif;
			font-size: 2rem;
			letter-spacing: -0.15rem;
			line-height: 1.7rem;
			padding-top: 1rem;
		}
		.data-info .data-desc {
			font-size: 0.875rem;
			color: #444;
		}

	.data-img .data-btn {
		position: absolute;
		display: flex;
		top: 0;
		right: 10%;
		/* border: 1px solid blue; */
	}
		.btn {
			border: none;
			border-radius: 0;
			padding: 0.75rem 1.5rem;
			position: relative;
		}
		.data-btn .btn-explore {
			background-color: #e93536;
			color: white;
		}
		.data-btn .btn-sample {
			background-color: white;
			color: black;
		}
		.data-btn .btn-hover {
			width: 100%;
			height: 0px;
			background-color: black;
			right: 0;
			top: 0;
			position: absolute;
			z-index: 9999;
		}

		.data-btn .bt-text, i {
			font-size: 0.75rem;
			letter-spacing: -0.03rem;
			position: relative;
			z-index: 10000;
			font-family: 'Syncopate', sans-serif;
		}